<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->


</head>

<body>

  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Mes Optiones</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"
          >Dashboard</a
        >
        <a
          class="list-group-item list-group-item-action bg-light"
          [routerLink]="['./addCourse']"
          routerLinkActive="router-link-active"
          >Add New Courses</a
        >
        <a class="list-group-item list-group-item-action bg-light" 
          routerLink="/mycourses"
          routerLinkActive="router-link-active"
          >My courses</a
        >
        <a
        [routerLink]="['./allCourses']"
          class="list-group-item list-group-item-action bg-light"
          >All courses</a
        >
        <a
          routerLink=""
          class="list-group-item list-group-item-action bg-light"
          >My Profile</a
        >
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>